extends layout

block content
  div(class="container-fluid")
  h1= title
  - var result=results
  div(class="row")
    each form in result
      div(class = "col-sm-2") #{form.universityname}
      div(class = "col-sm-2") #{form.degree}
      div(class = "col-sm-2") #{form.fee}