extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let universityid = toShow._id
    - let universityname = toShow.universityname
    - let degree = toShow.degree
    - let fee = toShow.fee
    - let actionid = "/resource/resource/universitys/" + universityid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') university ID is:
        div #{universityid}
      div.row
        div(class='costumeAttr mr-3') University Name is:
        div #{universityname}
      div.row
        div(class='costumeAttr mr-3') university degree is:
        div #{degree}
      div.row
        div(class='costumeAttr mr-3') university fee is:
        div #{fee}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/universitys'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/University'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
